:root {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    --app-blue: #067eb3;
    --app-blue-dark: #034d6d;
    --app-blue-very-dark: #032838;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Introduced to stop vertical scroll bar creating small horizontal scroll */
html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
} 

body {
  background-color: rgb(241, 240, 240);
}

#root {
  background-color: white;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
    padding-top: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 100px;
    color: var(--app-blue);
    background-color: var(--app-blue-very-dark);
    font-weight: 400;
}

iframe {
    margin: 0;
    margin-bottom: -4px; /* irame is adding extra margin */
}